.banner{
    background-color: #040d1b;
    color: white;
    height: 62vh;
    width: 96vw;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    animation: slider 750ms ease-in;
}


.leftArrow{
    position: absolute;
    top: 36%;
    left: 7px;
    cursor: pointer;
    z-index: 5;
}

.rightArrow{
    position: absolute;
    top: 36%;
    right: 7px;
    cursor: pointer;
    z-index: 5;
}
.bannerImg{
    
    object-fit: contain;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}
.bannerHead{
    font-size: 38px;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.bannerContent{
    margin-left: 3rem;
    padding-top: 9rem;
    padding-left: 20px;
    
}

.bannerDesc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 19px;
    max-width: 360px;
    height: 140px;
}

.bannerBtn {
    transition: all .5s ease;
    color: #fff;
    margin: 84px;
    margin-top: 44px;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    font-weight: bold;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
.bannerBtn:hover {
    color: #001F3F;
    background-color: #fff;
}
.bannerFade{
    height: 34.18rem;
    z-index: 1;
    background-image: linear-gradient(to right,rgba(4, 13, 27, 1),rgba(4, 13, 27, 0));
    width: 6rem;
}

@keyframes slider{
    0%{
        transform: translateX(-100%),scale(0.5);
        opacity: 0;
        
    }
    100%{
        transform: translateX(0%),scale(1);
        opacity: 1;
    }
}


